.header {
  min-width: 320px;
  width: 100%;
  position: fixed;
  background-color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_img a{
    display: block;
    width: 135px;
    height: 5rem;
    position: relative;
    z-index: 1;
    left: -25px;
    background: url("/src/assets/images/Géneractiva_Logo_Isologo_Color.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 500px) {
      background-image: url(/src/assets/images/Géneractiva_Logo_Logotipo_color.png);
      position: inherit;
    }
  }
  &_button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    &--bar {
      background-color: #5210bc;
      width: 30px;
      height: 5px;
      border-radius: 10px;
      position: relative;
    }
    &--bar::after,
    &--bar::before {
      content: "";
      position: absolute;
      background-color: #5210bc;
      display: block;
      width: 30px;
      height: 5px;
      border-radius: 10px;
      top: 0.8em;
    }
    &--bar::before {
      top: -0.8em;
    }
  }
  &_ul {
    display: block;
    position: fixed;
    top: 60px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
    transform: translateY(-130%);
    transition: 0.5s ease;
    &--show{
      transform: translateY(0%);
    }

    & li{
      padding: 1em;
    }
    &--a{
      font-size: 20px;
    }
    &--button{
      @include button
    }

  }
  @media (min-width: 800px) {
    &_button{
      display: none;
    }
    &_ul{
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      position: static;
      height: 5rem;
      transform: translateY(0);
      &--a{
        font-size: 16px;
      }
    }
  }
}

