.principalsTwo {
  background-color: $white;
  text-align: center;
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 5rem;
  }
}
.principalTwo_img img{
    width: 100%;
    max-width: 600px;
    padding: 3rem 0;
    
  @media (min-width: 800px) {
    max-width: 500px;
  }
}
.principalTwo_text{
  width: 90%;
  margin: auto;
  &--subtitle{
    padding:3rem 0; 
  }
  &--title{
    @include title;
  }
  &--button{
    @include button;
    margin-top: 3rem;
  }
  @media (min-width: 800px) {
    text-align: left;
  }
}
