.principalsFour {
  width: 100%;
}
.principalFour_img img{
  width: 100%;
  max-width: 600px;
}
.principalFour_text{
  text-align: center;
  &--subtitle{
    padding: 3rem 0; 
  }
  &--title{
    @include title;
  }
  &--button{
    @include button;
    margin-top: 3rem;
  }
}

