.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.principals {
  width: 100%;
  text-align: center;
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 0 5rem;
  }
  &_img img {
    width: 100%;
    max-width: 600px;
    padding: 3rem 0;
  }
}
.principal_text{
  &--title{
    @include title;
  }
  &--button{
    @include button;
    margin: 3rem auto;
  }
  @media (min-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}
  
