.principalThree {
  text-align: center;
  &_subtitle {
    padding: 3rem 0;
  }
  &_title {
    @include title;
  }
  &_paragraph {
    @include paragraph;
  }
  &_button {
    @include button;
  }
  &_ul {
    text-align: left;
    width: 75%;
    margin: 3rem auto;
    & li {
      @include paragraph;
      font-size: 14px;
      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: $violet;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
  & img {
    width: 100%;
    max-width: 600px;
  }
  @media (min-width: 700px) {
    &_subtitle,
    &_title,
    &_paragraph,
    & img {
      width: 75%;
      margin: 0 auto;
    }
    &_title,
    &_paragraph{
        text-align: left;
    }
  }
}
