.principalsThree {
  text-align: center;
  width: 100%;
  padding: 5rem 0;
}
.principalThree{
  &_ul {
    text-align: left;
    width: 75%;
    margin: 3rem auto;
    & li {
      @include paragraph;
      font-size: 14px;
      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: $violet;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}
.principalThree_text{
  text-align: center;
  &--title{
    @include title;
  }
  &--button{
    @include button;
    margin-top: 3rem;
  }
}
.principal_img img{
  
  width: 100%;
  max-width: 600px;
}
