.thirdTwo {
  width: 100%;
  padding: 5rem 0;
  &_wrraper {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    &--text {
      padding: 2rem 0;
    }
    &--img {
      min-width: 300px;
      padding: 2rem 0;
      & img {
        max-width: 100%;
      }
    }
    @media (min-width: 800px) {
      & {
        display: flex;
        position: relative;
        height: 400px;
        flex-wrap: wrap;
        justify-content: space-between;
        &--text {
          width: 40%;
          text-align: center;
          padding: 0 5rem;
        }
        &--img {
          opacity: 0.4;
          position: absolute;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
.thirdTwo_text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
  &--title {
    @include title;
  }
  &--ul {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
    @media (min-width: 700px) {
      padding-top: 5rem;
    }
    & li {
      @include paragraph;
      font-size: 14px;
      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: $violet;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
  @media (min-width: 950px) {
    &--ul {
      display: flex;
      justify-content: space-between;
      & li {
        width: 25%;
      }
    }
  }
}
