.thirdThree{
    width: 100%;
    text-align: center;
    padding: 10rem 0;
    &_title{
        @include title;
        padding-bottom: 10rem;
    }
}
.thirdThree_cards{
    width: 100%;
    @media (min-width: 950px) {
        margin: auto;
        width: 90%;
        display: flex;
    }
}
.card{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
    &_img{
        width: 110px;
        height: 110px;
        background-color: $softViolet;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    @media (min-width: 950px) {
        margin: 0 1rem;
        &_paragraph{
            text-align: left;
        }
    }
}