@mixin button() {
  font-size: 15px;
  color: $white;
  background-color: $violet;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  box-shadow: 7px 7px 18px -13px $violet;
  -webkit-box-shadow: 7px 7px 18px -13px $violet;
  -moz-box-shadow: 7px 7px 18px -13px $violet;
  margin-bottom: 3rem;
}
@mixin  title() {
  font-size: 27px;
  color: $violet;
  line-height: 30px;
  text-align: center;
  padding-bottom: 3rem;
}
@mixin paragraph {
  font-size: 16px;
  color: $darkGrey;
  font-family: 'Open Sans';
  padding-bottom: 3rem;
}
