@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", "Open Sans";
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h3 {
  font-size: 12px;
  color: #3E0C8E;
  font-family: "Open Sans";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #3E0C8E;
}

p {
  font-size: 16px;
  color: #646464;
  font-weight: 400;
  font-family: "Open Sans";
}

.header {
  min-width: 320px;
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: white;
}
.header i {
  display: block;
  width: 135px;
  height: 5rem;
  background: url("/src/assets/images/Géneractiva_Logo_Isologo_Color.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 500px) {
  .header i {
    background-image: url(/src/assets/images/Géneractiva_Logo_Logotipo_color.png);
  }
}
.header_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.header_button__bar {
  background-color: #5210bc;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  position: relative;
}
.header_button__bar::after, .header_button__bar::before {
  content: "";
  position: absolute;
  background-color: #5210bc;
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  top: 0.8em;
}
.header_button__bar::before {
  top: -0.8em;
}
@media (min-width: 950px) {
  .header {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5rem;
    background-color: white;
  }
  .header_button {
    display: none;
  }
  .header_img i {
    width: 20.2rem;
    height: 7.5rem;
  }
}

.nav_ul {
  background-color: #F0EBF9;
  transform: translateY(-125%);
  transition: ease-out 0.3s;
  padding: 2.8rem;
  opacity: 0.98;
  background-color: white;
}
.nav_ul--show {
  transform: translateY(0);
}
.nav_ul li {
  padding-bottom: 1.5rem;
}
.nav_ul--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
}
.nav_ul--button {
  margin-bottom: 0;
}
@media (min-width: 950px) {
  .nav_ul {
    transform: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: auto;
    margin-top: 1rem;
  }
  .nav_ul li {
    padding-top: 8px;
    padding-bottom: 0;
  }
  .nav_ul button {
    margin-bottom: 0;
    cursor: pointer;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.principal {
  margin: 3rem 0;
  text-align: center;
}
.principal_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principal_paragraph {
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 30px;
}
.principal_button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  display: block;
  margin: 3rem auto;
}
.principal img {
  width: 100%;
  max-width: 600px;
  padding: 3rem 0;
}
@media (min-width: 700px) {
  .principal_subtitle, .principal_title, .principal_paragraph, .principal img {
    width: 75%;
    margin: 0 auto;
  }
  .principal_title, .principal_paragraph {
    text-align: left;
  }
}

.principalTwo {
  background-color: #F0EBF9;
  text-align: center;
}
.principalTwo img {
  width: 100%;
  max-width: 600px;
  padding: 3rem 0;
}
.principalTwo_subtitle {
  padding: 3rem;
}
.principalTwo_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalTwo_paragraph {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
}
.principalTwo_button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
}
@media (min-width: 700px) {
  .principalTwo_subtitle, .principalTwo_title, .principalTwo_paragraph, .principalTwo img {
    width: 75%;
    margin: 0 auto;
  }
  .principalTwo_title, .principalTwo_paragraph {
    text-align: left;
  }
}

.principalThree {
  text-align: center;
}
.principalThree_subtitle {
  padding: 3rem 0;
}
.principalThree_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalThree_paragraph {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
}
.principalThree_button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
}
.principalThree_ul {
  text-align: left;
  width: 75%;
  margin: 3rem auto;
}
.principalThree_ul li {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
  font-size: 14px;
}
.principalThree_ul li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #3E0C8E;
  border-radius: 50%;
  margin-right: 5px;
}
.principalThree img {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 700px) {
  .principalThree_subtitle, .principalThree_title, .principalThree_paragraph, .principalThree img {
    width: 75%;
    margin: 0 auto;
  }
  .principalThree_title, .principalThree_paragraph {
    text-align: left;
  }
}

.principalFour {
  text-align: center;
}
.principalFour_subtitle {
  padding: 3rem 0;
}
.principalFour_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalFour_paragraph {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
}
.principalFour_button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
}
@media (min-width: 700px) {
  .principalFour_subtitle, .principalFour_title, .principalFour_paragraph, .principalFour img {
    width: 75%;
    margin: 0 auto;
  }
  .principalFour_title, .principalFour_paragraph {
    text-align: left;
  }
}

.principalContact {
  text-align: center;
}
.principalContact_subtitle {
  padding: 3rem 0;
}
.principalContact_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalContact_paragraph {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
}
.principalContact_form {
  width: 90%;
  text-align: left;
  line-height: 30px;
  margin: 0 auto;
}
.principalContact_form--label {
  font-size: 16px;
  color: #3E0C8E;
  display: grid;
}
.principalContact_form--label input {
  width: 100%;
  height: 40px;
  background-color: #f4f2f6;
  border: 0 solid;
  border-radius: 1rem;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #646464;
}
.principalContact_form--label input::placeholder {
  font-size: 16px;
  color: #B7B5BA;
}
.principalContact_form--label textarea {
  width: 100%;
  background-color: #f4f2f6;
  border: 0 solid;
  border-radius: 1rem;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #646464;
  resize: none;
}
.principalContact_form--label textarea::placeholder {
  font-size: 16px;
  color: #B7B5BA;
  font-family: "Open sans";
}
.principalContact_form--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
  background-color: #5210BC;
}
@media (min-width: 700px) {
  .principalContact_subtitle, .principalContact_title, .principalContact_paragraph, .principalContact img {
    width: 75%;
    margin: 0 auto;
  }
  .principalContact_title, .principalContact_paragraph {
    text-align: left;
  }
  .principalContact_form {
    width: 75%;
  }
}

.footer {
  width: 100%;
  background-color: #28065e;
  color: #F0EBF9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  font-family: "Open sans";
}
.footer_logo {
  width: 100%;
  padding: 3rem;
  text-align: center;
}
.footer_logo--title {
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 3.5px;
}
.footer_logo--subtitle {
  font-size: 12px;
  font-weight: 400;
}
.footer_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.footer_links a {
  color: #F0EBF9;
}
.footer_workers {
  width: 100%;
  height: 100%;
  background-color: #20044c;
  padding: 1rem;
  text-align: center;
}
.footer_workers h4 {
  font-size: 14px;
  color: #cacaca;
  font-weight: 400;
  line-height: 25px;
}

/*COMPONENTES DEL INDEX2*/
.main {
  padding-top: 5rem;
}

.seconds {
  width: 100%;
}

.second_text,
.seconds_cards {
  width: 90%;
  margin: 0 auto;
}

.second_text {
  text-align: center;
}
.second_text--subtitle {
  padding: 3rem 0;
}
.second_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}

.seconds_cards {
  margin-top: 3rem;
}

.second_card {
  text-align: center;
  padding: 1rem 0;
}
.second_card img {
  width: 98px;
  height: 98px;
  background-color: #DED7EB;
  border-radius: 50%;
}
.second_card--title {
  font-size: 24px;
  color: #3E0C8E;
  padding: 1rem 0;
}

.secondsTwo {
  width: 100%;
  background-color: #F0EBF9;
  text-align: center;
}

.secondsTwo_text {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.secondsTwo_image img {
  width: 100%;
  max-width: 600px;
}

.secondsTwo_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}

.secondsThree {
  width: 100%;
  background-color: #DED7EB;
  text-align: center;
}

.secondsThree_text {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
.secondsThree_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.secondsThree_text--form input {
  width: 80%;
  height: 40px;
  background-color: #cfc2e8;
  border: 0 solid;
  border-radius: 1rem;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #646464;
  margin-top: 5rem;
}
.secondsThree_text--form input::placeholder {
  font-size: 16px;
  color: #646464;
}
.secondsThree_text--form button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
  background-color: #A88BD8;
}

/*# sourceMappingURL=main.css.map */
