@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", "Open Sans";
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h3 {
  font-size: 12px;
  color: #3E0C8E;
  font-family: "Open Sans";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #3E0C8E;
}

p {
  font-size: 16px;
  color: #646464;
  font-weight: 400;
  font-family: "Open Sans";
}

.header {
  min-width: 320px;
  width: 100%;
  position: fixed;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_img a {
  display: block;
  width: 135px;
  height: 5rem;
  position: relative;
  z-index: 1;
  left: -25px;
  background: url("/src/assets/images/Géneractiva_Logo_Isologo_Color.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 500px) {
  .nav_img a {
    background-image: url(/src/assets/images/Géneractiva_Logo_Logotipo_color.png);
    position: inherit;
  }
}
.nav_button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.nav_button--bar {
  background-color: #5210bc;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  position: relative;
}
.nav_button--bar::after, .nav_button--bar::before {
  content: "";
  position: absolute;
  background-color: #5210bc;
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  top: 0.8em;
}
.nav_button--bar::before {
  top: -0.8em;
}
.nav_ul {
  display: block;
  position: fixed;
  top: 60px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
  transform: translateY(-130%);
  transition: 0.5s ease;
}
.nav_ul--show {
  transform: translateY(0%);
}
.nav_ul li {
  padding: 1em;
}
.nav_ul--a {
  font-size: 20px;
}
.nav_ul--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
}
@media (min-width: 800px) {
  .nav_button {
    display: none;
  }
  .nav_ul {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    position: static;
    height: 5rem;
    transform: translateY(0);
  }
  .nav_ul--a {
    font-size: 16px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.principals {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}
@media (min-width: 800px) {
  .principals {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 5rem;
  }
}
.principals_img img {
  width: 100%;
  max-width: 600px;
  padding: 3rem 0;
}

.principal_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principal_text--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin: 3rem auto;
}
@media (min-width: 800px) {
  .principal_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}

.principalsTwo {
  background-color: #F0EBF9;
  text-align: center;
}
@media (min-width: 800px) {
  .principalsTwo {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 5rem;
  }
}

.principalTwo_img img {
  width: 100%;
  max-width: 600px;
  padding: 3rem 0;
}
@media (min-width: 800px) {
  .principalTwo_img img {
    max-width: 500px;
  }
}

.principalTwo_text {
  width: 90%;
  margin: auto;
}
.principalTwo_text--subtitle {
  padding: 3rem 0;
}
.principalTwo_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalTwo_text--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
}
@media (min-width: 800px) {
  .principalTwo_text {
    text-align: left;
  }
}

.principalsThree {
  text-align: center;
  width: 100%;
  padding: 5rem 0;
}
@media (min-width: 800px) {
  .principalsThree {
    padding: 5rem;
  }
}

.principalThree_text {
  text-align: center;
}
@media (min-width: 800px) {
  .principalThree_text {
    text-align: left;
  }
  .principalThree_text--paragraph {
    width: 50%;
  }
}
.principalThree_text--subtitle {
  padding: 5rem 0;
}
.principalThree_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalThree_text--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
}

.principalThree_ul {
  text-align: left;
  width: 75%;
  margin: 3rem auto;
}
.principalThree_ul li {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
  font-size: 14px;
}
.principalThree_ul li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #3E0C8E;
  border-radius: 50%;
  margin-right: 5px;
}
@media (min-width: 800px) {
  .principalThree_ul {
    margin: 0;
  }
}

.principalsFour {
  width: 100%;
  text-align: center;
}
@media (min-width: 800px) {
  .principalsFour {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 5rem;
    align-items: center;
  }
}

.principalFour_img img {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 800px) {
  .principalFour_img img {
    margin-right: 1.5rem;
  }
}

.principalFour_text {
  text-align: center;
}
.principalFour_text--subtitle {
  padding: 3rem 0;
}
.principalFour_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalFour_text--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
}
@media (min-width: 800px) {
  .principalFour_text {
    text-align: left;
    width: 90%;
    margin-left: 1.5rem;
  }
}

.principalContact {
  text-align: center;
}
.principalContact_subtitle {
  padding: 3rem 0;
}
.principalContact_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.principalContact_paragraph {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
}
.principalContact_form {
  width: 90%;
  text-align: left;
  line-height: 30px;
  margin: 0 auto;
}
.principalContact_form--label {
  font-size: 16px;
  color: #3E0C8E;
  display: grid;
}
.principalContact_form--label input {
  width: 100%;
  height: 40px;
  background-color: #f4f2f6;
  border: 0 solid;
  border-radius: 1rem;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #646464;
}
.principalContact_form--label input::placeholder {
  font-size: 16px;
  color: #B7B5BA;
}
.principalContact_form--label textarea {
  width: 100%;
  background-color: #f4f2f6;
  border: 0 solid;
  border-radius: 1rem;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #646464;
  resize: none;
}
.principalContact_form--label textarea::placeholder {
  font-size: 16px;
  color: #B7B5BA;
  font-family: "Open sans";
}
.principalContact_form--button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
  background-color: #5210BC;
}
@media (min-width: 700px) {
  .principalContact_subtitle, .principalContact_title, .principalContact_paragraph, .principalContact img {
    width: 75%;
    margin: 0 auto;
  }
  .principalContact_title, .principalContact_paragraph {
    text-align: left;
  }
  .principalContact_form {
    width: 75%;
  }
}
@media (min-width: 800px) {
  .principalContact {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5rem;
    text-align: left;
  }
  .principalContact_subtitle, .principalContact_paragraph {
    margin: 0;
  }
  .principalContact_title {
    grid-column: 1/3;
    margin: 0;
  }
}

.footer {
  width: 100%;
  background-color: #28065e;
  color: #F0EBF9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  font-family: "Open sans";
}
.footer_logo {
  width: 100%;
  padding: 3rem;
  text-align: center;
}
.footer_logo--title {
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 3.5px;
}
.footer_logo--subtitle {
  font-size: 12px;
  font-weight: 400;
}
.footer_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.footer_links a {
  color: #F0EBF9;
}
.footer_workers {
  width: 100%;
  height: 100%;
  background-color: #20044c;
  padding: 1rem;
  text-align: center;
}
.footer_workers h4 {
  font-size: 14px;
  color: #cacaca;
  font-weight: 400;
  line-height: 25px;
}
@media (min-width: 800px) {
  .footer_logo {
    text-align: left;
  }
  .footer_links {
    justify-content: flex-start;
  }
  .footer_links a {
    padding-left: 3rem;
  }
  .footer_workers {
    display: flex;
    justify-content: space-around;
  }
}

/*COMPONENTES DEL INDEX2*/
.main {
  padding-top: 5rem;
}

.seconds {
  width: 100%;
}
@media (min-width: 950px) {
  .seconds {
    padding: 5rem;
  }
}

.second_text,
.seconds_cards {
  width: 90%;
  margin: 0 auto;
}

.second_text {
  text-align: center;
}
.second_text--subtitle {
  padding: 3rem 0;
}
.second_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}

.seconds_cards {
  margin-top: 3rem;
}
@media (min-width: 950px) {
  .seconds_cards {
    display: flex;
    justify-content: center;
  }
}

.second_card {
  text-align: center;
  padding: 1rem 0;
}
.second_card img {
  width: 98px;
  height: 98px;
  background-color: #DED7EB;
  border-radius: 50%;
}
.second_card--title {
  font-size: 24px;
  color: #3E0C8E;
  padding: 1rem 0;
}
@media (min-width: 950px) {
  .second_card {
    width: 30rem;
  }
}

.secondsTwo {
  width: 100%;
  background-color: #F0EBF9;
  text-align: center;
}
@media (min-width: 950px) {
  .secondsTwo {
    display: flex;
    padding: 5rem 0 5rem 5rem;
  }
}

.secondsTwo_text {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
.secondsTwo_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
@media (min-width: 950px) {
  .secondsTwo_text {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .secondsTwo_text--title {
    font-size: 27px;
    color: #3E0C8E;
    line-height: 30px;
    padding-bottom: 3rem;
  }
  .secondsTwo_text--paragraph {
    text-align: left;
    padding-left: 5rem;
  }
}

.secondsTwo_image img {
  width: 100%;
  max-width: 600px;
}

.secondsThree {
  width: 100%;
  background-color: #DED7EB;
  text-align: center;
}
@media (min-width: 800px) {
  .secondsThree {
    padding: 5rem;
  }
}

.secondsThree_text {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}
.secondsThree_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.secondsThree_text--form input {
  width: 80%;
  height: 40px;
  background-color: #cfc2e8;
  border: 0 solid;
  border-radius: 1rem;
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: #646464;
  margin-top: 5rem;
}
.secondsThree_text--form input::placeholder {
  font-size: 16px;
  color: #646464;
}
.secondsThree_text--form button {
  font-size: 15px;
  color: #F0EBF9;
  background-color: #3E0C8E;
  padding: 8px 32px;
  border: none;
  border-radius: 25px;
  margin-bottom: 3rem;
  box-shadow: 7px 7px 18px -13px #3E0C8E;
  -webkit-box-shadow: 7px 7px 18px -13px #3E0C8E;
  -moz-box-shadow: 7px 7px 18px -13px #3E0C8E;
  cursor: pointer;
  margin-top: 3rem;
  background-color: #A88BD8;
}
@media (min-width: 950px) {
  .secondsThree_text--form {
    width: 50%;
    margin: auto;
  }
}

/*COMPONENTES DEL INDEX3*/
.main {
  padding-top: 10rem;
}

.third {
  width: 100%;
  text-align: center;
}
@media (min-width: 950px) {
  .third {
    width: 90%;
  }
}
.third_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.third_cards {
  width: 100%;
}
@media (min-width: 700px) {
  .third_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 5rem;
  }
}

.third_card {
  width: 90%;
  margin: 1rem auto;
}
.third_card img {
  width: 93px;
  height: 93px;
}
.third_card--title {
  font-size: 24px;
  color: #3E0C8E;
  line-height: 30px;
}
@media (min-width: 700px) {
  .third_card--title {
    padding-bottom: 1rem;
  }
  .third_card--paragraph {
    text-align: left;
  }
}

.thirdTwo {
  width: 100%;
  padding: 5rem 0;
}
.thirdTwo_wrraper {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.thirdTwo_wrraper--text {
  padding: 2rem 0;
}
.thirdTwo_wrraper--img {
  min-width: 300px;
  padding: 2rem 0;
}
.thirdTwo_wrraper--img img {
  max-width: 100%;
}
@media (min-width: 800px) {
  .thirdTwo_wrraper {
    display: flex;
    position: relative;
    height: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .thirdTwo_wrraper--text {
    width: 40%;
    text-align: center;
    padding: 0 5rem;
  }
  .thirdTwo_wrraper--img {
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.thirdTwo_text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5rem;
}
.thirdTwo_text--title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
}
.thirdTwo_text--ul {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}
@media (min-width: 700px) {
  .thirdTwo_text--ul {
    padding-top: 5rem;
  }
}
.thirdTwo_text--ul li {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans";
  padding-bottom: 3rem;
  font-size: 14px;
}
.thirdTwo_text--ul li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #3E0C8E;
  border-radius: 50%;
  margin-right: 5px;
}
@media (min-width: 950px) {
  .thirdTwo_text--ul {
    display: flex;
    justify-content: space-between;
  }
  .thirdTwo_text--ul li {
    width: 25%;
  }
}

.thirdThree {
  width: 100%;
  text-align: center;
  padding: 10rem 0;
}
.thirdThree_title {
  font-size: 27px;
  color: #3E0C8E;
  line-height: 30px;
  padding-bottom: 3rem;
  padding-bottom: 10rem;
}

.thirdThree_cards {
  width: 100%;
}
@media (min-width: 950px) {
  .thirdThree_cards {
    margin: auto;
    width: 90%;
    display: flex;
  }
}

.card {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.card_img {
  width: 110px;
  height: 110px;
  background-color: #DED7EB;
  border-radius: 50%;
  margin-bottom: 2rem;
}
@media (min-width: 950px) {
  .card {
    margin: 0 1rem;
  }
  .card_paragraph {
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
